<div ng-controller="TermController as termCtrl" style="margin-top: 50px;">
	<h4>Old Plan Term</h4>
	<table class="table">
		<tr>
			<td>Plan</td>
			<td>
				<select 
					ng-model="termCtrl.plan"
					ng-options="plan.name for plan in calcCtrl.plans"></select>
			</td>
		</tr>
		<tr>
			<td>Term</td>
			<td>
				<select 
					ng-model="termCtrl.term">
					<option ng-repeat="term in calcCtrl.terms" ng-value="term" ng-bind="term"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Subscription Start Date</td>
			<td>
				<md-datepicker ng-model="termCtrl.start_date" md-placeholder="Start date"></md-datepicker>
			</td>
		</tr>
		<tr>
			<td>Subscription End Date</td>
			<td>
				<md-datepicker ng-model="termCtrl.end_date" md-placeholder="End date" disabled></md-datepicker>
			</td>
		</tr>
		<tr>
			<td>Amount Paid</td>
			<td ng-bind="termCtrl.plan.price[termCtrl.term.toLowerCase()]|currency"></td>
		</tr>
	</table>

	<div ng-if="!termCtrl.new_term">
		<p class="bg-danger" style="padding: 10px;">Highest available term already, cannot modify plan terms anymore.</p>
	</div>

	<div ng-if="termCtrl.new_term">
		<p style="margin: 40px 0 40px 0;">
			<strong>Decides to change term on: </strong>
			<md-datepicker ng-model="termCtrl.plan_change_date" md-placeholder="Enter Date"
				md-min-date="termCtrl.start_date" md-max-date="termCtrl.end_date"></md-datepicker>
		</p>

		<div ng-if="termCtrl.plan_change_date">
			<h4>New Plan Term</h4>
			<table class="table">
				<tr>
					<td>Plan</td>
					<td ng-bind="termCtrl.plan.name"></td>
				</tr>
				<tr>
					<td>Term</td>
					<td>
						<select 
							ng-model="termCtrl.new_term">
							<option ng-repeat="term in calcCtrl.getNewHigherTerms(termCtrl.term)" ng-value="term" ng-bind="term"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Subscription Start Date</td>
					<td ng-bind="termCtrl.getNewStartDate()"></td>
				</tr>
				<tr>
					<td>Subscription End Date</td>
					<td ng-bind="termCtrl.getNewEndDate()">
						<!-- <md-datepicker ng-model="termCtrl.getNewEndDate()" md-placeholder="End date" disabled></md-datepicker> -->
					</td>
				</tr>
				<tr>
					<td>Amount</td>
					<td ng-bind="termCtrl.plan.price[termCtrl.new_term.toLowerCase()]|currency"></td>
				</tr>
				<tr>
					<td>Deduction</td>
					<td ng-bind="(termCtrl.getDeduction()|currency)"></td>
				</tr>
				<tr>
					<td>Payable</td>
					<td ng-bind="termCtrl.getPayable()|currency" style="font-weight:bold;"></td>
				</tr>
			</table>
		</div>
	</div>
</div>