<div ng-controller="TermController as termCtrl" style="margin-top: 50px;">
	<h4>Current Plan Term</h4>
	<table class="table">
		<tr>
			<td>Plan</td>
			<td>
				<select 
					ng-model="termCtrl.plan"
					ng-options="plan.name for plan in calcCtrl.plans"></select>
			</td>
		</tr>
		<tr>
			<td>Term</td>
			<td>
				<select 
					ng-model="termCtrl.term">
					<option ng-repeat="term in calcCtrl.terms" ng-value="term" ng-bind="term"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Subscription Start Date</td>
			<td>
				<md-datepicker ng-model="termCtrl.start_date" md-placeholder="Start date"></md-datepicker>
			</td>
		</tr>
		<tr>
			<td>Subscription End Date</td>
			<td>
				<md-datepicker ng-model="termCtrl.end_date" md-placeholder="End date" disabled></md-datepicker>
			</td>
		</tr>
		<tr>
			<td>Amount Paid</td>
			<td ng-bind="termCtrl.plan.price[termCtrl.term.toLowerCase()]|currency"></td>
		</tr>
	</table>

	<div ng-if="!termCtrl.new_term">
		<p class="bg-danger" style="padding: 10px;">Highest available term already, cannot modify plan terms anymore.</p>
	</div>

	<div ng-if="termCtrl.new_term">
		<p style="margin: 40px 0 40px 0;">
			<strong>Decides to change the payment terms by: </strong>
			<md-datepicker ng-model="termCtrl.plan_change_date" md-placeholder="Enter Date"
				md-min-date="termCtrl.start_date" md-max-date="termCtrl.end_date"></md-datepicker>
		</p>

		<div ng-if="termCtrl.plan_change_date">
			<h4>New Plan Term</h4>
			<table class="table">
				<tr>
					<td>Plan</td>
					<td ng-bind="termCtrl.plan.name"></td>
				</tr>
				<tr>
					<td>Term</td>
					<td>
						<select 
							ng-model="termCtrl.new_term">
							<option ng-repeat="term in calcCtrl.getNewHigherTerms(termCtrl.term)" ng-value="term" ng-bind="term"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Subscription Start Date</td>
					<td ng-bind="(calcCtrl.getNewStartDate(termCtrl.plan_change_date)|date:'MMM dd, yyyy')"></td>
				</tr>
				<tr>
					<td>Subscription End Date</td>
					<td ng-bind="(calcCtrl.getNewEndDate(termCtrl.plan_change_date, termCtrl.new_term)|date:'MMM dd, yyyy')">
					</td>
				</tr>
				<tr>
					<td>Plan Cost</td>
					<td ng-bind="termCtrl.plan.price[termCtrl.new_term.toLowerCase()]|currency"></td>
				</tr>
				<tr>
					<td>Deduction</td>
					<td ng-bind="(termCtrl.getDeduction()|currency)"></td>
				</tr>
				<tr style="background: #ccc; color: #000; font-size: 16px;">
					<td>Total Payable Today:</td>
					<td ng-bind="termCtrl.getPayable()|currency" style="font-weight:bold;"></td>
				</tr>
			</table>

			<div style="margin-top: 20px;">
				<p>Payable is computed using the ff: </p>
				<code>
					Deductible = OldPlanCost - (OldPlanCost/PlanDurationInDays*NumDaysUsed)
					<br/>
					Payable = NewPlanCost - Deductible
				</code>
				<p>Where,</p>
				<p><code>PlanDurationInDays</code> is the length in days of the plan</p>
				<p><code>NumDaysUsed</code> is total number of days the plan have been used</p>
			</div>
		</div>
	</div>
</div>